/* Search result style */

.search {
    .search-result-heading {
        text-align: center;
        padding: 0 15px;
        h1 {
            margin: 30px auto;
        }
    }

    .search-result-content {
        margin: 0 -1px;
        .result-block {
            float: left;
            width: 25%;
            padding: 0 1px;
            margin: 0 0 35px;
            .img-wrapper {
                margin: 0 0 10px;
            }
            .entry-title {
                color: $main-color;
                font-size: 13px;
                margin: 0;
                padding: 0 10px 10px;
                a {
                    color: $main-color;
                }
            }
        }
    }

    &[lang="vi"] {
        .tax-product_cat {
            ul.products {
                li.product {
                    .onsold,
                    .onsale {
                        font-size: 15px;
                        white-space: normal;
                        padding: 12px 0;
                    }
                }
            }
        }
    }

    @include bp(max-width, $tablet - 1) {
        .search-result-heading {
            h1 {
                font-size: 20px;
                margin: 20px auto;
            }
        }
    }

    @include bp(max-width, $mobile) {
        &[lang="vi"] {
            .tax-product_cat {
                ul.products {
                    li.product {
                        .onsold,
                        .onsale {
                            font-size: 12px;
                            padding: 6px 0;
                        }
                    }
                }
            }
        }
    }
}